openapi: 3.2.0
info:
  contact:
    email: support@opencagedata.com
    name: OpenCage GmbH
    url: https://opencagedata.com/contact
  version: 1.1.0
  termsOfService: https://opencagedata.com/terms
  title: OpenCage Geocoding API
  description: >
    Worldwide forward and reverse geocoding with open data.

    # Rate Limiting

    Responses to subscription customers do NOT contain the `rate` element of the response body or `X-Ratelimit` HTTP headers, because they do not face hard limits. 

  x-origin:
    format: openapi
    url: https://opencagedata.com/openapi.yaml
    version: 3.2.0
  x-logo:
    url: https://opencagedata.com/opencagelogo-green.png

tags:
  - name: Geocoding
    description: Convert address into coordinates (latitude, longitude) and relevant location information
    summary: forward geocoding
    
  - name: Reverse Geocoding
    description: Convert coordinates (latitude, longitude) into addresses and relevant location information
    summary: reverse geocoding

  - name: Health
    description: API connectivity test
    summary: connectivity check    

externalDocs:
  description: OpenCage Geocoding API documentation
  url: https://opencagedata.com/api
    
servers:
  - url: https://api.opencagedata.com/geocode/v1
    name: OpenCage geocoding API

security: 
  - ApiKeyAuth: []

paths:
  /ping:
    $ref: paths/ping.yaml
  /json:
    $ref: paths/json.yaml
  /xml:
    $ref: paths/xml.yaml
  /geojson:
    $ref: paths/geojson.yaml

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: key 
      description: 30 character long, alphanumeric string
      externalDocs:
        description: API key unique to your account
        url: https://opencagedata.com/api#required-param